/*

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --primary-color: #5abad0;
  --second-color: #272532;
  --star-color: #ffb820;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;

}

.section-center{
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 8px 15px;
  background-color: rgb(50, 138, 238);
  color: var(--white-color);
  border-radius: 3px;
  outline: none;
  text-decoration: none;
  text-align: center;
  font-size: larger;
  font-weight: 400;
  min-width: 130px;
  margin: 10px auto;
}


.section-todoList{
  padding: 20px;
  max-width: 250px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
  margin: 3rem auto ;
}


.todo-lists{
  width: 400px;
  min-width: 350px;
  margin: 20px auto;
  text-align: center;
}

.todo-item{
  margin-top: 10px;
  background-color: rgb(241, 239, 239);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: larger;
  color: #333;
  text-transform: capitalize;
  border-radius: 50px;
}

.todo-item button{
  font-size: larger;
  background: none;
  color: rgb(243, 22, 77);
  border: none;
  padding-left: 10px;
}

*/