@import "../index.css";

.cart__header{
  height: 80px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  padding-left: 100px;
  border-bottom: 1px solid #ccc;
}

.cart__header-icon{
  font-size: 6rem;
  font-weight: 400;
  color: var(--primary-color);
}

.cart__header-content{
  position: relative;
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--primary-color);
  margin-left: 30px;
}

.cart__header-content::before{
  position: absolute;
  content: "";
  height: 30px;
  border: 1px solid var(--primary-color);
  top: 50%;
  transform: translateY(-50%);
  left: -18px;
}

.cart__main{
  padding: 30px 70px;
  background-color: #f1f1f1; 
  min-height: 80vh;
}
/* ====== */
.main-center{
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-center .btn--normal{
  margin: 10px auto;
}

.main-center-title{
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 500;
}

/* ===================== */
.cart__main-header{
  background-color: var(--white-color);
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
}

.cart__main-header-left{
  margin-left: 40px;
  display: flex;
  align-items: center;
}

.cart__main-header__check{
  height: 20px;
  width: 20px;
}


.cart__main-header-left .cart__main-header__content{
  margin-left: 20px;
}

.cart__main-header-right{
  margin-right: 60px;
}

.cart__main-header-right .cart__main-header__content{
  margin-left: 100px;
}

.cart__main-header-right .cart__main-header__content:first-child{
  margin-right: 40px;
}

.cart__main-header__content{
  font-size: 1.5rem;
  color: var(--text-color);
  text-transform: capitalize;
}

/* main container */
.cart__main-container{
  margin-top: 20px
}

.cart__main-container__item{
  height: 134px;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  padding: 0 40px;
  margin-top: 10px;
}

.cart__main-container__item-left{
  display: flex;
  align-items: center;
  min-width: 46%;
}

.cart__main-container__item-right{
  display: flex;
  align-items: center;
}


.cart__main-container__item-product{
  margin-left: 20px;
}

.cart__main-container__item-product-link{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.container__item__product-img{
  height: 80px;
  width: 80px;
  border: 1px solid #f1f1f1;
}

.container__item__product-name__wrap{
  height: 3.6rem;
  overflow: hidden;
}

.container__item__product-name{
  color: var(--text-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 230px;
  margin-left: 20px;
  line-height: 1.8rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.cart__main-container__item-category{
  margin-left: 20px;
  position: relative;
  display: none;
}

.item-category--show{
  display: block;
}


.container__item-category__header{
  display: flex;
  align-items: center;
}

.container__item-category__header span{
  font-size: 1.5rem;
  color: var(--text-color);
  text-transform: capitalize;
}

.container__item-category__header button{
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 5px;
}

.container__item-category__header-btnUp{
  display: none;
}

.cart__main-container__item-category--active .container__item-category__header-btnUp{
  display: block;
}

.cart__main-container__item-category--active .container__item-category__header-btnDown{
  display: none;
}

.container__item-category__content{
  margin-top: 5px;
}

.container__item-category__content span{
  font-size: 1.4rem;
  color: var(--text-color);
}

.container__item-category__modal{
  display: none;
  position: absolute;
  top: 55px;
  left: -128%;
  z-index: 2;
  width: 366px;
  height: auto;
  background: var(--white-color);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  border: 1px solid #f2f2f2;
  padding: 28px;
}

.container__item-category__modal::before{
  content: "";
  position: absolute;
  top: -20px;
  left: 45%;
  border-width: 10px 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
}

.container__item-category__modal::after{
  content: "";
  position: absolute;
  top: -19px;
  left: 45%;
  border-width: 10px 10px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.cart__main-container__item-category--active .container__item-category__modal{
  display: block;
}

.container__item-category__modal-title{
  font-size: 1.6rem;
  color: var(--text-color);
  text-transform: capitalize;
}

/* category__cart-list css index.css */


.container__item-category__modal-buttons{
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.container__item-category__modal-buttons button{
  margin: 0 4px;
  text-transform: uppercase;
} 

/* price css */

.cart__main-container__item-price{
  margin-left: 20px;
  min-width: 150px;
}

.cart__main-container__item-price span{
  font-size: 1.5rem;
  color: var(--text-color);
}

/* amount css */
.cart__main-container__item-amount{
  margin-left: 20px;
}

.container__item-amount-wrap{
  display: flex;
  align-items: center;
}

.container__item-amount-btn{
  padding: 6px 8px;
  background: none;
  border: 1px solid #e8e8e8;
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.container__item-amount-btn i{
  font-size: 1.6rem;
  color: #6c6c6c;
  text-align: center;
  position: relative;
  top: 2px;
}

.container__item-amount-input{
  padding: 6px 10px;
  border: none;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  width: 52px;
  text-align: center;
  font-size: 1.6rem;
  outline: none;
}

/* amount total */
.cart__main-container__item-total{
  margin-left: 65px;
  min-width: 150px;
}

.cart__main-container__item-total span{
  font-size: 1.5rem;
  color: var(--primary-color);
}

/* manipulation css */

.cart__main-container__item-manipulation{
  margin-left: 20px;
}

.cart__main-container__item-manipulation button{
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.cart__main-container__item-manipulation button:hover{
  color: var(--primary-color);
}

/* cart__main-sell */

.cart__main-sell{
  margin-top: 20px;
  height: 66px;
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 42px;
}

.cart__main-sell-left{
  display: flex;
  align-items: center;
}

.cart__main-sell-left__check{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.cart__main-sell-left__chooseAll{
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--text-color);
  margin-right: 10px;
}

.cart__main-sell-left__delete{
  background: none;
  border: none;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--text-color);
  margin-right: 10px;
  cursor: pointer;
}

.cart__main-sell-left__delete:hover{
  color: var(--primary-color);
}


.cart__main-sell-right{
  display: flex;
  align-items: center;
}

.cart__main-sell-right__total-payment{
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--text-color);
  margin-right: 10px;
}

.total-payment--highlight{
  color: var(--primary-color);
}


