@import "../index.css";

/* footer */

.footer{
  padding-top: 40px;
  border-top: 4px solid var(--primary-color);
  background-color: var(--white-color);
}


.footer__heading{
  font-size: 1.4rem;
  color: #939393;
  text-transform: uppercase;
  line-height: 2rem;
}

.footer__list{  
  list-style: none;
  padding: 0;
}

.footer__list-item{
  display: flex;
  align-items: baseline;
  padding: 5px 0;
}

.footer__list-item__link{
  text-decoration: none;
  font-size: 1.4rem;
  color: #939393;
  text-transform: capitalize;
  line-height: 2rem;
}

.footer__list-item__link:hover{
  color: var(--primary-color);
}

.footer__list-item-icon{
  font-size: 1.6rem;
  color: var(--text-color);
  margin-right: 6px;
}

.footer__download{
 display: flex;
}

.footer__download-apps{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__download-qr{
  border: 1px solid rgb(230, 227, 227);
  height: 100px;
  width: 100px;
}

.footer__download-apps-img{
  padding: 10px 15px; 
  height: 40px;
  width: 115px;
}

.grid__bottom{
  margin-top: 40px;
  height: 40px;
  background-color:#f5f5f5;
  text-align: center;
}

.footer-text{
  line-height: 40px;
  margin: 0;
}

