@import "../index.css";


.purchase__sidebar-profile{
  min-height: 80px;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.purchase__sidebar-img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.purchase__sidebar-name{
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 24px;
  color: var(--text-color);
  padding: 10px 0;
}

.purchase__sidebar-list{
  margin-top: 20px;
  list-style: none;
  text-align: left;
}

.purchase__sidebar-item{
  padding: 10px;
  display: flex;
  align-items: center;
}


.purchase__sidebar-icon{
  font-size: 2rem;
  color: var(--primary-color);
  margin-right: 10px;
}

.purchase__sidebar-item__link{
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: capitalize;
  color: var(--text-color);
}

.purchase__sidebar-item--active .purchase__sidebar-item__link{
  color: var(--primary-color);
}

.purchase__sidebar-item__link:hover{
  color: var(--primary-color);
}

/* ============== content ================ */

.purchase-header_list{
  list-style: none;
  height: 52px;
  background: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border-color-2);
}

.purchase-header_item{
  text-align: center;
  padding: 15px 50px;
  cursor: pointer;
  position: relative;
}

.purchase-header__num{
  position: absolute;
  top: 10px;
  right: 32px;
  padding: 3px 6px;
  color: var(--white-color);
  background: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 10px;
}

.purchase-header__text{
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--text-color);
  line-height: 20px;
  text-transform: capitalize;
  position: relative;
}

.purchase-header_item--active .purchase-header__text{
  color: var(--primary-color);
}

.purchase-header_item.purchase-header_item--active{
  border-bottom: 2px solid var(--primary-color);
}

.purchase-header_item--active .purchase-header__num{
  display: none;
}


/* =================== item ======================= */

.purchase-main{
  min-height: 350px;
}

.purchase-item-wrap{
  margin-top: 15px;
}

.purchase-item{
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  padding: 0 26px;
  border-bottom: 1px dotted var(--border-color-2);
  border-radius: 5px;
}

.purchase-item:first-child{
  border-top-left-radius: 0px;  
  border-top-right-radius: 0px;
}


.purchase-item__left{
  display: flex;
  align-items: center;
}

.purchase-item__image{
  width: 85px;
  height: 85px;
  border: 1px solid var(--border-color-2);
  margin-right: 15px;
}

.purchase-item__img{
  padding-top: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}


.purchase-item__info{
  text-decoration: none;
  font-weight: 300;
}

.purchase-item__info-name{
  color: var(--text-color);
  font-size: 1.8rem;
  line-height: 24px;

}

.purchase-item__info-type{
  color: #9b9b9b;
  font-size: 1.6rem;
  line-height: 20px;
}

.purchase-item__info-quantity{
  color: #9b9b9b;
  font-size: 1.6rem;
  line-height: 20px;
}

.purchase-item__right{
  display: flex;
  align-items: center;
}

.purchase-item__right-oldPrice{
  color: #9b9b9b;
  font-size: 1.6rem;
  line-height: 20px;
  text-decoration-line: line-through ;
}

.purchase-item__right-currentPrice{
  margin-left: 5px;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 20px;
}

.purchase-item__extension{
  background-color: var(--white-color);
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0 26px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid var(--border-color-2);
}

.purchase-item__extension-price{
  font-size: 1.8rem;
  line-height: 26px;
  color: var(--text-color);
}

.purchase-item__extension-price span{
  color: var(--primary-color);
}

/* no product */

.purchase-item-noProduct{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.purchase-item-noProduct h1{
  margin-top: 10px;
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.2rem;
}

/* =============== modal ================== */
.modal-purchase{
  width: 500px;
  min-height: 300px;
  padding: 30px;
  background-color: var(--white-color);
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-purchase__title{
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: var(--text-color);
  text-transform: capitalize;
}

.modal-purchase__content{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-purchase__item{
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.modal-purchase__item span{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--text-color);
  margin-left: 10px;
}

/* ===================== account ====================== */

.account-content{
  min-height: 80vh;
  background: var(--white-color);
  border-radius: 5px;
  padding: 30px;
}

.account-content__header{
  height: 60px;
  border-bottom: 1px solid #efefef;
}

.account-content__header-title{
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: var(--text-color);
}

.account-content__header-p{
  margin-top: 5px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--text-color);
}

.account-content__body{
  display: flex;
  align-items: center;
}

.account-content__body-left{
  width: 65%;
  margin-top: 30px;
}

.account-content__body-right{
  width: 35%;
  display: flex;
  justify-content: center;
}

.account-content__body-left-item{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.account-content__body-left-label{
  width: 160px;
  color: rgba(85,85,85,.8);
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
  text-transform: capitalize;
}

.account-content__body-left-item span{
  margin-left: 15px;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.account-btn{
  background: none;
  border: none;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  color: rgb(68, 68, 247);
  
}

.account-btn:hover{
  text-decoration-line: underline;
}

.account-content__body-left__select{
  margin-top: 20px;
  border-top: 1px solid #efefef;
}


.account-content__body-left__select-first{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.account-content__body-left__select-second{
  display: flex;
  align-items: center;
  margin-top: 20px;
}


.account-content__body-left__select-content{
  min-height: 24px;
  width: 80px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  outline: none;
  margin-left: 15px;
  box-shadow: 1px 2px 5px -2px rgba(0,0,0,.3);
}

.account-content__body-left__select-second__content{
  position: relative;
  width: 300px;
  min-height: 24px;
  margin-left: 15px;
}

.select-content-123{
  position: absolute;
  top: 0;
  left: -13px;
  
}

.select-content-345{
  position: absolute;
  top: 0;
  left: 80px;
  width: 85px;
  
}

.select-content-456{
  position: absolute;
  top: 0;
  left: 178px;
}


/* ==================  ============== */

.account-content__body-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.account-content__body-right__img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  border: 1px solid #efefef;
}


.account-content__body-right--btn{
  border: 1px solid #efefef;
  text-transform: capitalize;
  margin-top: 10px;
}

.account-content__body-right__title{
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
}


/* =================== notifi-content ================= */

.notifi-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.notifi__input-rating{
  display: none;
}