
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
  /* --primary-color: #cd0982; */
  --primary-color: #EE4D2D;
  --second-color: #EE4D2D;
  --text-color:#333;
  --text-label:#858585;
  --white-color:#fff;
  --black-color:#000;
  --border-color:#dbdbdb;
  --star-gold-color:#FFCE3E;
  --border-radius: 2px;
  --header-height: 120px;
  --navbar-height: 34px;
  --header-with-search-height: calc(var(--header-height) - var(--navbar-height))
}

*{
  box-sizing: inherit;
  /* them */
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  line-height: 1;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Responsive */

.grid{
  /* width: 1200px; */
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.grid__full-width{
  width: 100%;
}

.grid__row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  /* them */
  padding: 0 50px;
}

.grid__row--reset{
  padding: 0;
}

.grid__column-2{
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}

.grid__column-2-4{
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.grid__column-10{
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}

/* Animation */

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes growth {
  from{
    transform: scale(var(--growth-from));
  }
  to{
    transform: scale(var(--growth-to));
  }
}



@keyframes NotifyGrowth{
  from{
    opacity: 0;
    transform: scale(0);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
}

/* Modal */


.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  animation: fadeIn linear .1s;
  display: none;
}

.modal--show{
  display: block;
}

.modal__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.modal__overlay-bg-transparent{
  background-color: transparent;
}

.modal__overlay--bg-white{
  background-color: var(--white-color);
}

.modal__body{
  width: 100%;
  height: 100%;
  --growth-from: .7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 2;
  animation: growth linear .1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__body::-webkit-scrollbar { 
  display: none; 
}


/* button primary */

.btn{
  background-color: var(--white-color);
  color: var(--text-color);
  min-width: 124px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0 12px;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn.btn--normal:hover{
  background-color: rgba(0, 0, 0, .05);
}

.btn--size-s{
  height: 32px;
  font-size: 1.2rem;
  padding: 0 8px;
}

.btn.btn--primary{
  background-color: var(--primary-color);
  color: var(--white-color);
}


.btn.btn--second{
  border: 1px solid var(--primary-color);
  background-color: #ffeee8;
  color: var(--primary-color);
}

.btn.btn--second:hover{
  background-color: #f8efec;
}

.btn.btn--disabled{
  cursor: default;
  opacity: .5;
}


/* selection */
.select-input{
  position: relative;
  padding: 0 12px;
  border-radius: 2px;
  min-width: 200px;
  height: 34px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-input__label{
  font-size: 1.4rem;
}

.select-input-icon{
  font-size: 1.4rem;
  color: #4A4A4A;
}

.select-input:hover .select-input__list{
  display: block;
}

.select-input__list{
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 36px;
  right: 0;
  background-color: var(--white-color);
  border-radius: 2px;
  padding: 2px 0;
  list-style: none;
  animation: fadeIn linear .2s;
}

.select-input__list::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  width: 100%;
  height: 10px;
}

.select-input__item{
  padding: 8px 12px;
}

.select-input__item-btn{
  background: none;
  border: none;
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  cursor: pointer;
}

.select-input__item-btn:hover{
  color: var(--primary-color);
}


/* .select-input__item--active .select-input__item-btn{
  color: var(--primary-color);
} */

.select-input__item-icon{
  font-size: 1.2rem;
  float: right;
  display: none;
}

.select-input__item--active .select-input__item-icon{
  display: inline-block;
  color: var(--primary-color);
}


/* notifications */

.notifications{
  /* margin-top: 50px; */
  height: 200px;
  width: 360px;
  background-color: rgba(0, 0, 0, .5);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  border-radius: var(--border-radius);
}

.notifications-icon{
  font-size: 8rem;
}

.notifications-text{

}